<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: right;
        margin-top: 50px;
    }

    h1 {
        color: white;
        font-size: 15pt;
    }

    p {
        
        font-size: 11pt;
    }
</style>

<div>
    <h1>Click on the button to the left to randomize background color</h1><br>
    <p>You the {{ count }} colour seeker to use this site.</p>
</div>